<div>
    <div class="flexbox-container" style="display:flex;">
        <input id="inputText" type="text" placeholder="Task Title" style="height: 40px; margin-left: 40px; margin-top: 40px;"
            #taskTitle>
        <textarea name="" id="inputTextArea" cols="30" rows="10" style="height: 40px; margin-left: 40px; margin-top: 40px;"
            placeholder="Task Data" #taskData></textarea>
        <p style="height: 40px; margin-left: 40px; margin-top: 50px;">Task Due Date: </p>
        <input id="inputDate" type="date" style="height: 40px; margin-left: 10px; margin-top: 40px;" #dueDate>

        <button type="button" style="height: 40px; margin-left: 40px; margin-top: 40px;" class="btn btn-primary"
            (click)="newTask(taskTitle.value, taskData.value, dueDate.value)">Add Task</button>
    </div>

    <div style="color: red; margin-left: 20px;">
        <h5>{{Mess}}</h5>
    </div>

    <div class="container">
        <div class="row align-items-start">
            <div class="col">
                <div class="card" style="width: 16rem; margin-top: 5px;">
                    <div class="card-body">
                        <h3 style="margin-left: 5px;">Pending Tasks</h3>
                        <div *ngFor="let item of List">
                            <div class="card" style="width: 14rem; margin-top: 10px;" *ngIf="item.status==='pending'">
                                <div class="card-body">
                                    <h6 class="card-title"><b>Task Title: </b>{{item.taskTitle}}</h6>
                                    <h6 class="card-subtitle mb-2 text-muted"><b>Due Date:
                                        </b>{{item.dueDate.toDateString()}}</h6>
                                    <p class="card-text"><b>Desciption: </b>{{item.taskData}}</p>
                                </div>
                                <button type="button" class="btn btn-success" (click)="done(item.taskId)">Mark as
                                    Done</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 16rem; margin-top: 5px;">
                    <div class="card-body">
                        <h3 style="margin-left: 5px;">Completed Tasks</h3>
                        <div *ngFor="let item of List">
                            <div class="card" style="width: 14rem; margin-top: 10px;" *ngIf="item.status==='completed'">
                                <div class="card-body">
                                    <h6 class="card-title"><b>Task Title: </b>{{item.taskTitle}}</h6>
                                    <h6 class="card-subtitle mb-2 text-muted"><b>Due Date:
                                        </b>{{item.dueDate.toDateString()}}</h6>
                                    <p class="card-text"><b>Desciption: </b>{{item.taskData}}</p>
                                </div>
                                <button type="button" class="btn btn-danger" (click)="pending(item.taskId)">Mark as
                                    Pending</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 16rem; margin-top: 5px;">
                    <div class="card-body">
                        <h3 style="margin-left: 5px;">Due Today</h3>
                        <div *ngFor="let item of List">
                            <div class="card" style="width: 14rem; margin-top: 10px;"
                                *ngIf="item.dueDate.toDateString()===date().toDateString() && item.status==='pending'">
                                <div class="card-body">
                                    <h6 class="card-title"><b>Task Title: </b>{{item.taskTitle}}</h6>
                                    <h6 class="card-subtitle mb-2 text-muted"><b>Due Date:
                                        </b>{{item.dueDate.toDateString()}}</h6>
                                    <p class="card-text"><b>Desciption: </b>{{item.taskData}}</p>
                                </div>
                                <button type="button" class="btn btn-success" (click)="done(item.taskId)">Mark as
                                    Done</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 16rem; margin-top: 5px;">
                    <div class="card-body">
                        <h3 style="margin-left: 5px;">Due Tomorrow</h3>
                        <div *ngFor="let item of List">
                            <div class="card" style="width: 14rem; margin-top: 10px;"
                                *ngIf="check(item.dueDate) && item.status==='pending'">
                                <div class="card-body">
                                    <h6 class="card-title"><b>Task Title: </b>{{item.taskTitle}}</h6>
                                    <h6 class="card-subtitle mb-2 text-muted"><b>Due Date:
                                        </b>{{item.dueDate.toDateString()}}</h6>
                                    <p class="card-text"><b>Desciption: </b>{{item.taskData}}</p>
                                </div>
                                <button type="button" class="btn btn-success" (click)="done(item.taskId)">Mark as
                                    Done</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>